@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

// your custom variables
@import "./variables.scss";

// UIkit default variables and mixins
@import "uikit/src/scss/variables-theme.scss";
@import "uikit/src/scss/mixins-theme.scss";
@import "my-mixins-theme.scss";

// import UIkit
@import "uikit/src/scss/uikit-theme.scss";


/* Nav */
.uk-navbar-nav > li a.uk-active {
	color: $inverse-navbar-nav-item-active-color;
}
.router-link-active {
	@extend .uk-active;
}

/* Hover */
a:hover {
	color: $nav-primary-item-hover-color;
	@if(mixin-exists(hook-nav-primary-item-hover)) {@include hook-nav-primary-item-hover();}
}



/* Active */
.router-link-active {
	color: $nav-primary-item-active-color;
}

.uk-input,
.uk-select,
.uk-textarea,
.uk-radio,
.uk-checkbox {
	border-radius: $base-border-radius-s;
}
.text-balance {
	text-wrap: balance;
}

.pack {
	max-width: 150px;
	img {
		@extend .uk-border-rounded;
	}
}
#collections-store article {
	margin-top: 100px;
	.pack {
		margin-top: -100px;
	}
}
.custom {
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr))
}

.figurita {
	user-select: none;
	position: relative;
	transition: all 0.2s ease-out;
	.uk-card {
		aspect-ratio: 5/7;
	}
	&:hover {
		transform: translateY(-8px) scale(1.02);
		//cursor: pointer;
		&.figurita-repeted-one {
			&:after {
				transform: rotate(5deg);
			}
		}
		&.figurita-repeted-more {
			&:before {
				transform: rotate(-6deg);
			}
		}
	}
	&.figurita-repeted-one {
		&:after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			transform: rotate(3deg);
			background-color: lighten($global-secondary-background, 40%);
			border-radius: $base-border-radius-l;
			z-index: -1;
			transition: all 0.2s ease-out;
		}
	}
	&.figurita-repeted-more {
		z-index: 10;
		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			transform: rotate(-4deg);
			background-color: lighten($global-secondary-background, 60%);
			border-radius: $base-border-radius-l;
			z-index: -1;
			transition: all 0.2s ease-out;
		}
	}
	// Egypt
	&.collection-1 .uk-card {
		background-color: $egypt-background;
		box-shadow: inset 0 0 0 4px darken($egypt-background, 10%);
	}
	// Greek
	&.collection-2 .uk-card {
		background-color: $greek-background;
		box-shadow: inset 0 0 0 4px darken($greek-background, 10%);
	}
	// Norse
	&.collection-3 .uk-card {
		background-color: $norse-background;
		@extend  .uk-card-secondary;
		box-shadow: inset 0 0 0 4px darken($norse-background, 10%);
	}
}