$global-primary-background: red;
$global-link-color: $global-primary-background;

$egypt-background: #DED18D;
$greek-background: #9bd5e0;
$norse-background: #5d4a3c;

$base-border-radius-s: 4px;
$base-border-radius-m: 5px;
$base-border-radius-l: 10px;

$global-background: #fff;

$nav-primary-item-hover-color: $global-primary-background;
$nav-primary-item-active-color: $nav-primary-item-hover-color;
