$global-primary-background: red;
$global-link-color: $global-primary-background;

$base-border-radius-s: 4px;
$base-border-radius-m: 5px;
$base-border-radius-l: 10px;

$global-background: #fff;

$nav-primary-item-hover-color: $global-primary-background;
$nav-primary-item-active-color: $nav-primary-item-hover-color;
